
    <div class="row">
        <div class="column">
            <h4 >Kids Learning Center</h4>
            <h1 >New Approach to Kids Education</h1>
            <p >Sea ipsum kasd eirmod kasd magna, est sea et diam ipsum est amet sed sit.
                Ipsum dolor no justo dolor et, lorem ut dolor erat dolore sed ipsum at ipsum nonumy amet. Clita
                lorem dolore sed stet et est justo dolore.</p></div>
            
        <div class="column"><img class="image" src="./../../assets/header.png" alt=""></div>
    </div> 
